<template name="search">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">

        <div class="input-group" id="adv-search">
          <input type="text" class="form-control" placeholder="Search stores"/>
          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="filter">Filter by</label>
                      <select class="form-control">
                        <option value="0" selected>All Snippets</option>
                        <option value="1">Featured</option>
                        <option value="2">Most popular</option>
                        <option value="3">Top rated</option>
                        <option value="4">Most commented</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="contain">Author</label>
                      <input class="form-control" type="text"/>
                    </div>
                    <div class="form-group">
                      <label for="contain">Contains the words</label>
                      <input class="form-control" type="text"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </form>
                </div>
              </div>
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail right-caption span4">
              <img class="span2 img-circle" src="http://placehold.it/250x250" alt="">
              <div class="caption">
                <h5>
                  <a href="#">Store name</a>
                </h5>
                <p>Cras justo odio, dapibus ac facilisis in, asfffffffffffffffa sfsdf sdf sdfegestas eget.fa sfsdf sdf sdfegestas eget.fa sfsdf sdf sdfegestas eget.fa sfsdf sdf sdfegestas eget.fa sfsdf sdf sdfegestas eget.fa sfsdf sdf sdfegestas eget. Eget metus</p>
                <p>
                  <a href="#" class="btn btn-primary">Action</a>
                  <a href="#" class="btn">Action</a>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</template>
